.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: #12002b;
}

.contentForm {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
}

.btn { display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
}

.input {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
} 

.invalid input { border: 1px solid red }
.invalidAuth { border: 1px solid red }

.input label { font-weight: bold }
.input input {
    padding: 5px;
    font-size: 1.2rem;
}

.remember { display: flex }
.rememberLabel { padding-left: 10px }